@import 'root';

.tablelist{
	background-color: $white;
	padding: 25px 20px !important;
	border-radius: 10px;
	font-size: 1rem;

	a.view{
		font-size: 1rem;
		text-decoration: underline;
		color: $main;
		transition: 0.5s all ease-in-out;

		&:hover{
			font-weight: bold;
			color: $darkmain;
		}
	}
}

.stars{
	width: 120px;
	padding: 0;
	display: flex;
	justify-content: space-between;

	div{
		width: 18px;
		height: 18px;
		background: url(http://localhost/csci334/assets/img/star_.png) no-repeat center 0px;
		background-size: 18px 18px;
		&.active{
			background: url(http://localhost/csci334/assets/img/star.png);
			background-size: 18px 18px;
		}
	}
}