@import 'root';

body{
	background: url(https://i.pinimg.com/originals/8c/56/81/8c568139afee1cfa5b95517f4262a2a3.jpg) center no-repeat;
	background-size: cover;
}

.login-div{
	width: 30%;
	padding: 30px;
	
	text-align: center;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);

	&:before{
		z-index: -1;
		position: absolute;
		content: "";
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: $surface;
		opacity: 0.5;
		border-radius: 10px;
	}


	h1{
		padding-bottom: 20px;
	}

	input{
		padding: 10px 15px;
		font-size: 1rem;
		display: block;
		width: 100%;
		border-radius: 5px;
		margin-bottom: 20px;
		border: none;
	}

	button{
		border:none;
		padding: 10px 30px;
		border-radius: 5px;
		font-size: 1rem;
		background-color: $blue;
		color: $white;
		cursor: pointer;

		&:hover{
			opacity: 0.8;
		}
	}
}