#requestHistory{
	padding-top: 120px;

}

#record_table{
	button{
		font-size: 12px;
		padding: .25rem .75rem;
	}
}

.conversation{
	padding-right: 15px !important;
	min-height: 80vh;
	position: relative;
	background-color: white;
    padding: 20px !important;
    padding-bottom: 200px !important;
    border-radius: 5px;
	
	hr{
		border: 1px black solid;
	}

	&.client{
		padding: 0px !important;
		padding-top: 20px !important;
		padding-bottom: 220px !important;
	}
}

.progressDiv{
	padding-right: 0;
	padding-left: 15px !important;

	&.client{
		padding-top: 20px;
	}

	& > div{
		background-color: #dfe6e9;
		padding: 20px;
		border-radius: 5px;
		height: 100%;
		
		& > b{
			margin-bottom: 15px;
			display: inline-block;
		}

		& > span{
			font-size: 12px;
			display: inline-block;
		}

		textarea{
			font-size: 14px;
			padding: 10px;
			width: 100%;
		}

	}

	.stars{
		width: 90%;
		height: 30px;
		padding: 0;
		display: flex;
		justify-content: space-between;
		margin: 10px 0px 15px;

		div{
			width: 30px;
			height: 30px;
			background: url(http://localhost/csci334/assets/img/star_.png) no-repeat center 0px;
			&.active{
				background: url(http://localhost/csci334/assets/img/star.png);
			}
		}
	}

	.progressList{
		font-size: 14px;
		list-style: none;
		padding-left: 0px;
		margin-bottom: 30px;
		li{
			
			padding-left: 30px;
			padding-bottom: 15px;
			position: relative;
			background: url(http://localhost/csci334/assets/img/uncheck.png) no-repeat left 0px;

			&.checked{
				background: url(http://localhost/csci334/assets/img/check.png) no-repeat left 0px;
			}

			span{
				display: block;

				&.time{
					font-size: 12px;
				}
			}

			&:before{
				content: "";
				position: absolute;
				background-color: white;
				width: 2px;
				left: 9px;
			    height: 100%;
			    top: 15px;
			};

			&:last-child:before{
				height: 0;
			};
		}
			
	}
}

.replyDiv{
	margin-top: 20px;
	position: absolute;
	bottom: 10px;
	width: 96%;

	&.client{
		width: 100%;
	}

	textarea{
		width: 100%;
		resize: none;
		padding: 10px;
		margin-top: 7px;
	}
}

#replies{
	max-height: 330px;
	overflow-y: auto;
	background-color: white;
	padding: 0px 0px 15px;
	border-radius: 10px;
	margin-top: 10px;
	padding-right: 15px;

	&.client{
    	margin-right: -15px;
	}
}



.conDiv{
	div{
		margin-top: 20px;
		.title{
			font-weight: bold;
			display: block;
		}
	}
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#comBtn{
	margin-left: 0;
	margin-top: 10px;
}